*.d
*.so
*.pcm
*.root
ref/
test/*
output/
!test/bins.h
!test/SimStats.h
!test/jetAna.C
!test/AngleCalculationTest.C
!test/AngleCalculationTest.sh
!test/PHEnergyCorrelatorTest.C
!test/QuickModel.C
!test/root-build
!test/wipe-build
!test/angles/
!test/performance/
